AcadreSyddjursIntegration/Web References/AcadreServiceV4/AcadreServiceV4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.traen.com/2007/09/06" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.traen.com/2007/09/06" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema targetNamespace="http://www.traen.com/2007/09/06">
      <s:import schemaLocation="http://esdhtest2/acadre/Acadre.CM.PublicServices/soapAuth/AcadreServiceV4.asmx?schema=schema1" namespace="http://www.traen.com/2007/09/06/schema" />
      <s:import schemaLocation="http://esdhtest2/acadre/Acadre.CM.PublicServices/soapAuth/AcadreServiceV4.asmx?schema=schema2" namespace="http://rep.oio.dk/fesd.dk/xml/schemas/2005/10/26/" />
      <s:import schemaLocation="http://esdhtest2/acadre/Acadre.CM.PublicServices/soapAuth/AcadreServiceV4.asmx?schema=schema3" namespace="http://rep.oio.dk/xkom.dk/xml/schemas/2005/05/13/" />
      <s:import schemaLocation="http://esdhtest2/acadre/Acadre.CM.PublicServices/soapAuth/AcadreServiceV4.asmx?schema=schema4" namespace="http://rep.oio.dk/xkom.dk/xml/schemas/2005/03/15/" />
      <s:import schemaLocation="http://esdhtest2/acadre/Acadre.CM.PublicServices/soapAuth/AcadreServiceV4.asmx?schema=schema5" namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" />
      <s:import schemaLocation="http://esdhtest2/acadre/Acadre.CM.PublicServices/soapAuth/AcadreServiceV4.asmx?schema=schema6" namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" />
      <s:import schemaLocation="http://esdhtest2/acadre/Acadre.CM.PublicServices/soapAuth/AcadreServiceV4.asmx?schema=schema7" namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/" />
      <s:import schemaLocation="http://esdhtest2/acadre/Acadre.CM.PublicServices/soapAuth/AcadreServiceV4.asmx?schema=schema8" namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/13/" />
      <s:import schemaLocation="http://esdhtest2/acadre/Acadre.CM.PublicServices/soapAuth/AcadreServiceV4.asmx?schema=schema9" namespace="http://www.traen.com/2007/11/01" />
      <s:import schemaLocation="http://esdhtest2/acadre/Acadre.CM.PublicServices/soapAuth/AcadreServiceV4.asmx?schema=schema10" namespace="http://www.traen.com/2007/04/01" />
      <s:import schemaLocation="http://esdhtest2/acadre/Acadre.CM.PublicServices/soapAuth/AcadreServiceV4.asmx?schema=schema11" namespace="http://rep.oio.dk/itst.dk/xml/schemas/2005/09/01/" />
      <s:import schemaLocation="http://esdhtest2/acadre/Acadre.CM.PublicServices/soapAuth/AcadreServiceV4.asmx?schema=schema12" namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/09/01/" />
      <s:import schemaLocation="http://esdhtest2/acadre/Acadre.CM.PublicServices/soapAuth/AcadreServiceV4.asmx?schema=schema13" namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/10/31/" />
      <s:import schemaLocation="http://esdhtest2/acadre/Acadre.CM.PublicServices/soapAuth/AcadreServiceV4.asmx?schema=schema14" namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/19/" />
      <s:import schemaLocation="http://esdhtest2/acadre/Acadre.CM.PublicServices/soapAuth/AcadreServiceV4.asmx?schema=schema15" namespace="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/" />
      <s:import schemaLocation="http://esdhtest2/acadre/Acadre.CM.PublicServices/soapAuth/AcadreServiceV4.asmx?schema=schema16" namespace="http://rep.oio.dk/itst.dk/xml/schemas/2005/02/22/" />
      <s:import schemaLocation="http://esdhtest2/acadre/Acadre.CM.PublicServices/soapAuth/AcadreServiceV4.asmx?schema=schema17" namespace="http://www.traen.com/2010/06/01" />
      <s:import schemaLocation="http://esdhtest2/acadre/Acadre.CM.PublicServices/soapAuth/AcadreServiceV4.asmx?schema=schema18" namespace="http://rep.oio.dk/kms.dk/xml/schemas/2005/03/11/" />
      <s:import schemaLocation="http://esdhtest2/acadre/Acadre.CM.PublicServices/soapAuth/AcadreServiceV4.asmx?schema=schema19" namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/09/" />
      <s:import schemaLocation="http://esdhtest2/acadre/Acadre.CM.PublicServices/soapAuth/AcadreServiceV4.asmx?schema=schema20" namespace="http://www.traen.com/2006/08/01/case" />
      <s:import schemaLocation="http://esdhtest2/acadre/Acadre.CM.PublicServices/soapAuth/AcadreServiceV4.asmx?schema=schema21" namespace="http://www.traen.com/2008/08/20" />
      <s:import schemaLocation="http://esdhtest2/acadre/Acadre.CM.PublicServices/soapAuth/AcadreServiceV4.asmx?schema=schema22" namespace="http://www.traen.com/2007/11/02/schema" />
      <s:import schemaLocation="http://esdhtest2/acadre/Acadre.CM.PublicServices/soapAuth/AcadreServiceV4.asmx?schema=schema23" namespace="http://www.traen.com/2007/06/01" />
      <s:import schemaLocation="http://esdhtest2/acadre/Acadre.CM.PublicServices/soapAuth/AcadreServiceV4.asmx?schema=schema24" namespace="http://www.traen.com/2008/01/30" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateContactSoapIn">
    <wsdl:part xmlns:q1="http://www.traen.com/2007/09/06/schema" name="Contact" element="q1:Contact" />
  </wsdl:message>
  <wsdl:message name="CreateContactSoapOut">
    <wsdl:part xmlns:q2="http://www.traen.com/2007/09/06/schema" name="CreateContactResult" element="q2:ContactId" />
  </wsdl:message>
  <wsdl:message name="UpdateContactSoapIn">
    <wsdl:part xmlns:q3="http://www.traen.com/2007/09/06/schema" name="UpdateContactRequest" element="q3:UpdateContactRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateContactSoapOut">
    <wsdl:part xmlns:q4="http://www.traen.com/2007/09/06/schema" name="UpdateContactResult" element="q4:ContactId" />
  </wsdl:message>
  <wsdl:message name="GetContactSoapIn">
    <wsdl:part xmlns:q5="http://www.traen.com/2007/09/06/schema" name="ContactId" element="q5:ContactId" />
  </wsdl:message>
  <wsdl:message name="GetContactSoapOut">
    <wsdl:part xmlns:q6="http://www.traen.com/2007/09/06/schema" name="GetContactResult" element="q6:Contact" />
  </wsdl:message>
  <wsdl:message name="SearchContactsSoapIn">
    <wsdl:part xmlns:q7="http://www.traen.com/2007/09/06/schema" name="SearchContactCriterion" element="q7:SearchContactCriterion" />
  </wsdl:message>
  <wsdl:message name="SearchContactsSoapOut">
    <wsdl:part xmlns:q8="http://www.traen.com/2007/09/06/schema" name="SearchContactsResult" element="q8:ArrayOfContacts" />
  </wsdl:message>
  <wsdl:message name="CreatePersonSoapIn">
    <wsdl:part xmlns:q9="http://www.traen.com/2007/09/06/schema" name="Person" element="q9:Person" />
  </wsdl:message>
  <wsdl:message name="CreatePersonSoapOut">
    <wsdl:part xmlns:q10="http://www.traen.com/2007/09/06/schema" name="CreatePersonResult" element="q10:ContactId" />
  </wsdl:message>
  <wsdl:message name="CreateOrganizationSoapIn">
    <wsdl:part xmlns:q11="http://www.traen.com/2007/09/06/schema" name="Organization" element="q11:Organization" />
  </wsdl:message>
  <wsdl:message name="CreateOrganizationSoapOut">
    <wsdl:part xmlns:q12="http://www.traen.com/2007/09/06/schema" name="CreateOrganizationResult" element="q12:ContactId" />
  </wsdl:message>
  <wsdl:message name="CreatePropertySoapIn">
    <wsdl:part xmlns:q13="http://www.traen.com/2007/09/06/schema" name="Property" element="q13:Property" />
  </wsdl:message>
  <wsdl:message name="CreatePropertySoapOut">
    <wsdl:part xmlns:q14="http://www.traen.com/2007/09/06/schema" name="CreatePropertyResult" element="q14:ContactId" />
  </wsdl:message>
  <wsdl:message name="CreateGroupSoapIn">
    <wsdl:part xmlns:q15="http://www.traen.com/2007/09/06/schema" name="Group" element="q15:Group" />
  </wsdl:message>
  <wsdl:message name="CreateGroupSoapOut">
    <wsdl:part xmlns:q16="http://www.traen.com/2007/09/06/schema" name="CreateGroupResult" element="q16:ContactId" />
  </wsdl:message>
  <wsdl:message name="UpdatePersonSoapIn">
    <wsdl:part xmlns:q17="http://www.traen.com/2007/09/06/schema" name="UpdatePersonRequest" element="q17:UpdatePersonRequest" />
  </wsdl:message>
  <wsdl:message name="UpdatePersonSoapOut">
    <wsdl:part xmlns:q18="http://www.traen.com/2007/09/06/schema" name="UpdatePersonResult" element="q18:ContactId" />
  </wsdl:message>
  <wsdl:message name="UpdateOrganizationSoapIn">
    <wsdl:part xmlns:q19="http://www.traen.com/2007/09/06/schema" name="UpdateOrganizationRequest" element="q19:UpdateOrganizationRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateOrganizationSoapOut">
    <wsdl:part xmlns:q20="http://www.traen.com/2007/09/06/schema" name="UpdateOrganizationResult" element="q20:ContactId" />
  </wsdl:message>
  <wsdl:message name="UpdatePropertySoapIn">
    <wsdl:part xmlns:q21="http://www.traen.com/2007/09/06/schema" name="UpdatePropertyRequest" element="q21:UpdatePropertyRequest" />
  </wsdl:message>
  <wsdl:message name="UpdatePropertySoapOut">
    <wsdl:part xmlns:q22="http://www.traen.com/2007/09/06/schema" name="UpdatePropertyResult" element="q22:ContactId" />
  </wsdl:message>
  <wsdl:message name="UpdateGroupSoapIn">
    <wsdl:part xmlns:q23="http://www.traen.com/2007/09/06/schema" name="UpdateGroupRequest" element="q23:UpdateGroupRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateGroupSoapOut">
    <wsdl:part xmlns:q24="http://www.traen.com/2007/09/06/schema" name="UpdateGroupResult" element="q24:ContactId" />
  </wsdl:message>
  <wsdl:message name="GetPersonSoapIn">
    <wsdl:part xmlns:q25="http://www.traen.com/2007/09/06/schema" name="PersonId" element="q25:PersonId" />
  </wsdl:message>
  <wsdl:message name="GetPersonSoapOut">
    <wsdl:part xmlns:q26="http://www.traen.com/2007/09/06/schema" name="GetPersonResult" element="q26:Person" />
  </wsdl:message>
  <wsdl:message name="GetOrganizationSoapIn">
    <wsdl:part xmlns:q27="http://www.traen.com/2007/09/06/schema" name="OrganizationId" element="q27:OrganizationId" />
  </wsdl:message>
  <wsdl:message name="GetOrganizationSoapOut">
    <wsdl:part xmlns:q28="http://www.traen.com/2007/09/06/schema" name="GetOrganizationResult" element="q28:Organization" />
  </wsdl:message>
  <wsdl:message name="GetPropertySoapIn">
    <wsdl:part xmlns:q29="http://www.traen.com/2007/09/06/schema" name="PropertyId" element="q29:PropertyId" />
  </wsdl:message>
  <wsdl:message name="GetPropertySoapOut">
    <wsdl:part xmlns:q30="http://www.traen.com/2007/09/06/schema" name="GetPropertyResult" element="q30:Property" />
  </wsdl:message>
  <wsdl:message name="GetGroupSoapIn">
    <wsdl:part xmlns:q31="http://www.traen.com/2007/09/06/schema" name="GroupId" element="q31:GroupId" />
  </wsdl:message>
  <wsdl:message name="GetGroupSoapOut">
    <wsdl:part xmlns:q32="http://www.traen.com/2007/09/06/schema" name="GetGroupResult" element="q32:Group" />
  </wsdl:message>
  <wsdl:message name="CreateMainDocumentSoapIn">
    <wsdl:part xmlns:q33="http://www.traen.com/2007/09/06/schema" name="CreateMainDocumentRequest" element="q33:CreateMainDocumentRequest" />
  </wsdl:message>
  <wsdl:message name="CreateMainDocumentSoapOut">
    <wsdl:part xmlns:q34="http://www.traen.com/2007/09/06/schema" name="CreateMainDocumentResult" element="q34:DocumentIdentifier" />
  </wsdl:message>
  <wsdl:message name="GetMainDocumentSoapIn">
    <wsdl:part xmlns:q35="http://www.traen.com/2007/09/06/schema" name="DocumentIdentifier" element="q35:DocumentIdentifier" />
  </wsdl:message>
  <wsdl:message name="GetMainDocumentSoapOut">
    <wsdl:part xmlns:q36="http://www.traen.com/2007/09/06/schema" name="GetMainDocumentResult" element="q36:DocumentResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllDocumentsSoapIn">
    <wsdl:part xmlns:q37="http://www.traen.com/2007/09/06/schema" name="CaseFileIdentifier" element="q37:CaseFileIdentifier" />
  </wsdl:message>
  <wsdl:message name="GetAllDocumentsSoapOut">
    <wsdl:part xmlns:q38="http://www.traen.com/2007/09/06/schema" name="GetAllDocumentsResult" element="q38:ArrayOfDocuments" />
  </wsdl:message>
  <wsdl:message name="UpdateMainDocumentSoapIn">
    <wsdl:part xmlns:q39="http://www.traen.com/2007/09/06/schema" name="UpdateMainDocumentRequest" element="q39:UpdateMainDocumentRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateMainDocumentSoapOut">
    <wsdl:part xmlns:q40="http://www.traen.com/2007/09/06/schema" name="UpdateMainDocumentResult" element="q40:DocumentIdentifier" />
  </wsdl:message>
  <wsdl:message name="CreateSupplementSoapIn">
    <wsdl:part xmlns:q41="http://www.traen.com/2007/09/06/schema" name="CreateSupplementRequest" element="q41:CreateSupplementRequest" />
  </wsdl:message>
  <wsdl:message name="CreateSupplementSoapOut">
    <wsdl:part xmlns:q42="http://www.traen.com/2007/09/06/schema" name="CreateSupplementResult" element="q42:SupplementIdentifier" />
  </wsdl:message>
  <wsdl:message name="UpdateSupplementSoapIn">
    <wsdl:part xmlns:q43="http://www.traen.com/2007/09/06/schema" name="UpdateSupplementRequest" element="q43:UpdateSupplementRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateSupplementSoapOut">
    <wsdl:part xmlns:q44="http://www.traen.com/2007/09/06/schema" name="UpdateSupplementResult" element="q44:SupplementIdentifier" />
  </wsdl:message>
  <wsdl:message name="GetAllSupplementsSoapIn">
    <wsdl:part xmlns:q45="http://www.traen.com/2007/09/06/schema" name="DocumentId" element="q45:DocumentId" />
  </wsdl:message>
  <wsdl:message name="GetAllSupplementsSoapOut">
    <wsdl:part xmlns:q46="http://www.traen.com/2007/09/06/schema" name="GetAllSupplementsResult" element="q46:ArrayOfSupplementResponses" />
  </wsdl:message>
  <wsdl:message name="GetSupplementSoapIn">
    <wsdl:part xmlns:q47="http://www.traen.com/2007/09/06/schema" name="SupplementIdentifier" element="q47:SupplementIdentifier" />
  </wsdl:message>
  <wsdl:message name="GetSupplementSoapOut">
    <wsdl:part xmlns:q48="http://www.traen.com/2007/09/06/schema" name="GetSupplementResult" element="q48:SupplementResponse" />
  </wsdl:message>
  <wsdl:message name="CreateCaseSoapIn">
    <wsdl:part xmlns:q49="http://www.traen.com/2007/09/06/schema" name="CreateCaseRequest" element="q49:CreateCaseRequest" />
  </wsdl:message>
  <wsdl:message name="CreateCaseSoapOut">
    <wsdl:part xmlns:q50="http://www.traen.com/2007/09/06/schema" name="CreateCaseResult" element="q50:CaseFileIdentifier" />
  </wsdl:message>
  <wsdl:message name="GetCaseSoapIn">
    <wsdl:part xmlns:q51="http://www.traen.com/2007/09/06/schema" name="CaseFileIdentifier" element="q51:CaseFileIdentifier" />
  </wsdl:message>
  <wsdl:message name="GetCaseSoapOut">
    <wsdl:part xmlns:q52="http://www.traen.com/2007/09/06/schema" name="GetCaseResult" element="q52:CaseFile" />
  </wsdl:message>
  <wsdl:message name="UpdateCaseSoapIn">
    <wsdl:part xmlns:q53="http://www.traen.com/2007/09/06/schema" name="UpdateCaseRequest" element="q53:UpdateCaseRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateCaseSoapOut">
    <wsdl:part xmlns:q54="http://www.traen.com/2007/09/06/schema" name="UpdateCaseResult" element="q54:CaseFileIdentifier" />
  </wsdl:message>
  <wsdl:message name="SearchCasesSoapIn">
    <wsdl:part xmlns:q55="http://www.traen.com/2007/09/06/schema" name="SearchCaseCriterion" element="q55:SearchCaseCriterion" />
  </wsdl:message>
  <wsdl:message name="SearchCasesSoapOut">
    <wsdl:part xmlns:q56="http://www.traen.com/2007/09/06/schema" name="SearchCasesResult" element="q56:ArrayOfCases" />
  </wsdl:message>
  <wsdl:message name="GetErrorTypeSoapIn">
    <wsdl:part xmlns:q57="http://www.traen.com/2007/09/06/schema" name="ErrorCode" element="q57:ErrorCode" />
  </wsdl:message>
  <wsdl:message name="GetErrorTypeSoapOut">
    <wsdl:part xmlns:q58="http://www.traen.com/2007/09/06/schema" name="GetErrorTypeResult" element="q58:ErrorType" />
  </wsdl:message>
  <wsdl:message name="GetPhysicalDocumentSoapIn">
    <wsdl:part xmlns:q59="http://www.traen.com/2007/09/06/schema" name="FileVersionReference" element="q59:FileVersionReference" />
  </wsdl:message>
  <wsdl:message name="GetPhysicalDocumentSoapOut">
    <wsdl:part xmlns:q60="http://www.traen.com/2007/09/06/schema" name="GetPhysicalDocumentResult" element="q60:XMLBinary" />
  </wsdl:message>
  <wsdl:message name="GetFileNameSoapIn">
    <wsdl:part xmlns:q61="http://www.traen.com/2007/09/06/schema" name="FileVersionReference1" element="q61:FileVersionReference1" />
  </wsdl:message>
  <wsdl:message name="GetFileNameSoapOut">
    <wsdl:part xmlns:q62="http://www.traen.com/2007/09/06/schema" name="GetFileNameResult" element="q62:FileName1" />
  </wsdl:message>
  <wsdl:message name="LockDocumentSoapIn">
    <wsdl:part xmlns:q63="http://www.traen.com/2007/09/06/schema" name="LockDocumentId" element="q63:LockDocumentId" />
  </wsdl:message>
  <wsdl:message name="LockDocumentSoapOut">
    <wsdl:part xmlns:q64="http://www.traen.com/2007/09/06/schema" name="LockDocumentResult" element="q64:LockDocumentLockStatus" />
  </wsdl:message>
  <wsdl:message name="UnlockDocumentSoapIn">
    <wsdl:part xmlns:q65="http://www.traen.com/2007/09/06/schema" name="UnlockDocumentId" element="q65:UnlockDocumentId" />
  </wsdl:message>
  <wsdl:message name="UnlockDocumentSoapOut">
    <wsdl:part xmlns:q66="http://www.traen.com/2007/09/06/schema" name="UnlockDocumentResult" element="q66:UnlockDocumentLockStatus" />
  </wsdl:message>
  <wsdl:message name="GetLockStatusSoapIn">
    <wsdl:part xmlns:q67="http://www.traen.com/2007/09/06/schema" name="GetLockStatusDocumentId" element="q67:GetLockStatusDocumentId" />
  </wsdl:message>
  <wsdl:message name="GetLockStatusSoapOut">
    <wsdl:part xmlns:q68="http://www.traen.com/2007/09/06/schema" name="GetLockStatusResult" element="q68:DocumentLockStatus" />
  </wsdl:message>
  <wsdl:message name="CreateMemoSoapIn">
    <wsdl:part xmlns:q69="http://www.traen.com/2007/09/06/schema" name="CreateMemoRequest" element="q69:CreateMemoRequest" />
  </wsdl:message>
  <wsdl:message name="CreateMemoSoapOut">
    <wsdl:part xmlns:q70="http://www.traen.com/2007/09/06/schema" name="CreateMemoResult" element="q70:MemoId" />
  </wsdl:message>
  <wsdl:message name="GetMemoSoapIn">
    <wsdl:part xmlns:q71="http://www.traen.com/2007/09/06/schema" name="MemoId" element="q71:MemoId" />
  </wsdl:message>
  <wsdl:message name="GetMemoSoapOut">
    <wsdl:part xmlns:q72="http://www.traen.com/2007/09/06/schema" name="GetMemoResult" element="q72:Memo" />
  </wsdl:message>
  <wsdl:message name="GetMemoSheetSoapIn">
    <wsdl:part xmlns:q73="http://www.traen.com/2007/09/06/schema" name="CaseId" element="q73:CaseId" />
  </wsdl:message>
  <wsdl:message name="GetMemoSheetSoapOut">
    <wsdl:part xmlns:q74="http://www.traen.com/2007/09/06/schema" name="GetMemoSheetResult" element="q74:XMLBinary" />
  </wsdl:message>
  <wsdl:message name="UpdateMemoSoapIn">
    <wsdl:part xmlns:q75="http://www.traen.com/2007/09/06/schema" name="UpdateMemoRequest" element="q75:UpdateMemoRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateMemoSoapOut">
    <wsdl:part xmlns:q76="http://www.traen.com/2007/09/06/schema" name="UpdateMemoResult" element="q76:MemoId" />
  </wsdl:message>
  <wsdl:message name="GetAllMemoSoapIn">
    <wsdl:part xmlns:q77="http://www.traen.com/2007/09/06/schema" name="CaseIdentifier" element="q77:CaseIdentifier" />
  </wsdl:message>
  <wsdl:message name="GetAllMemoSoapOut">
    <wsdl:part xmlns:q78="http://www.traen.com/2007/09/06/schema" name="GetAllMemoResult" element="q78:MemoListResponse" />
  </wsdl:message>
  <wsdl:portType name="ContactService4">
    <wsdl:operation name="CreateContact">
      <wsdl:input message="tns:CreateContactSoapIn" />
      <wsdl:output message="tns:CreateContactSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <wsdl:input message="tns:UpdateContactSoapIn" />
      <wsdl:output message="tns:UpdateContactSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContact">
      <wsdl:input message="tns:GetContactSoapIn" />
      <wsdl:output message="tns:GetContactSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchContacts">
      <wsdl:input message="tns:SearchContactsSoapIn" />
      <wsdl:output message="tns:SearchContactsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreatePerson">
      <wsdl:input message="tns:CreatePersonSoapIn" />
      <wsdl:output message="tns:CreatePersonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrganization">
      <wsdl:input message="tns:CreateOrganizationSoapIn" />
      <wsdl:output message="tns:CreateOrganizationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateProperty">
      <wsdl:input message="tns:CreatePropertySoapIn" />
      <wsdl:output message="tns:CreatePropertySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <wsdl:input message="tns:CreateGroupSoapIn" />
      <wsdl:output message="tns:CreateGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <wsdl:input message="tns:UpdatePersonSoapIn" />
      <wsdl:output message="tns:UpdatePersonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganization">
      <wsdl:input message="tns:UpdateOrganizationSoapIn" />
      <wsdl:output message="tns:UpdateOrganizationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProperty">
      <wsdl:input message="tns:UpdatePropertySoapIn" />
      <wsdl:output message="tns:UpdatePropertySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGroup">
      <wsdl:input message="tns:UpdateGroupSoapIn" />
      <wsdl:output message="tns:UpdateGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <wsdl:input message="tns:GetPersonSoapIn" />
      <wsdl:output message="tns:GetPersonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrganization">
      <wsdl:input message="tns:GetOrganizationSoapIn" />
      <wsdl:output message="tns:GetOrganizationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProperty">
      <wsdl:input message="tns:GetPropertySoapIn" />
      <wsdl:output message="tns:GetPropertySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroup">
      <wsdl:input message="tns:GetGroupSoapIn" />
      <wsdl:output message="tns:GetGroupSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MainDocumentService4">
    <wsdl:operation name="CreateMainDocument">
      <wsdl:input message="tns:CreateMainDocumentSoapIn" />
      <wsdl:output message="tns:CreateMainDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMainDocument">
      <wsdl:input message="tns:GetMainDocumentSoapIn" />
      <wsdl:output message="tns:GetMainDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDocuments">
      <wsdl:input message="tns:GetAllDocumentsSoapIn" />
      <wsdl:output message="tns:GetAllDocumentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMainDocument">
      <wsdl:input message="tns:UpdateMainDocumentSoapIn" />
      <wsdl:output message="tns:UpdateMainDocumentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SupplementService4">
    <wsdl:operation name="CreateSupplement">
      <wsdl:input message="tns:CreateSupplementSoapIn" />
      <wsdl:output message="tns:CreateSupplementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplement">
      <wsdl:input message="tns:UpdateSupplementSoapIn" />
      <wsdl:output message="tns:UpdateSupplementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSupplements">
      <wsdl:input message="tns:GetAllSupplementsSoapIn" />
      <wsdl:output message="tns:GetAllSupplementsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSupplement">
      <wsdl:input message="tns:GetSupplementSoapIn" />
      <wsdl:output message="tns:GetSupplementSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CaseService4">
    <wsdl:operation name="CreateCase">
      <wsdl:input message="tns:CreateCaseSoapIn" />
      <wsdl:output message="tns:CreateCaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCase">
      <wsdl:input message="tns:GetCaseSoapIn" />
      <wsdl:output message="tns:GetCaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCase">
      <wsdl:input message="tns:UpdateCaseSoapIn" />
      <wsdl:output message="tns:UpdateCaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchCases">
      <wsdl:input message="tns:SearchCasesSoapIn" />
      <wsdl:output message="tns:SearchCasesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetErrorType">
      <wsdl:input message="tns:GetErrorTypeSoapIn" />
      <wsdl:output message="tns:GetErrorTypeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DocumentService4">
    <wsdl:operation name="GetPhysicalDocument">
      <wsdl:input message="tns:GetPhysicalDocumentSoapIn" />
      <wsdl:output message="tns:GetPhysicalDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileName">
      <wsdl:input message="tns:GetFileNameSoapIn" />
      <wsdl:output message="tns:GetFileNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LockDocument">
      <wsdl:input message="tns:LockDocumentSoapIn" />
      <wsdl:output message="tns:LockDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnlockDocument">
      <wsdl:input message="tns:UnlockDocumentSoapIn" />
      <wsdl:output message="tns:UnlockDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLockStatus">
      <wsdl:input message="tns:GetLockStatusSoapIn" />
      <wsdl:output message="tns:GetLockStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MemoService4">
    <wsdl:operation name="CreateMemo">
      <wsdl:input message="tns:CreateMemoSoapIn" />
      <wsdl:output message="tns:CreateMemoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMemo">
      <wsdl:input message="tns:GetMemoSoapIn" />
      <wsdl:output message="tns:GetMemoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMemoSheet">
      <wsdl:input message="tns:GetMemoSheetSoapIn" />
      <wsdl:output message="tns:GetMemoSheetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMemo">
      <wsdl:input message="tns:UpdateMemoSoapIn" />
      <wsdl:output message="tns:UpdateMemoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMemo">
      <wsdl:input message="tns:GetAllMemoSoapIn" />
      <wsdl:output message="tns:GetAllMemoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContactService4" type="tns:ContactService4">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateContact">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/CreateContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/UpdateContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContact">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/GetContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchContacts">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/SearchContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePerson">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/CreatePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrganization">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/CreateOrganization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProperty">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/CreateProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/CreateGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/UpdatePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganization">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/UpdateOrganization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProperty">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/UpdateProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGroup">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/UpdateGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/GetPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrganization">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/GetOrganization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProperty">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/GetProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroup">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/GetGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MainDocumentService4" type="tns:MainDocumentService4">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateMainDocument">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/CreateMainDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMainDocument">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/GetMainDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDocuments">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/GetAllDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMainDocument">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/UpdateMainDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SupplementService4" type="tns:SupplementService4">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateSupplement">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/CreateSupplement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplement">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/UpdateSupplement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSupplements">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/GetAllSupplements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplement">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/GetSupplement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CaseService4" type="tns:CaseService4">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCase">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/CreateCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCase">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/GetCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCase">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/UpdateCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCases">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/SearchCases" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetErrorType">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/GetErrorType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DocumentService4" type="tns:DocumentService4">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPhysicalDocument">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/GetPhysicalDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileName">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/GetFileName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockDocument">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/LockDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockDocument">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/UnlockDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLockStatus">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/GetLockStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MemoService4" type="tns:MemoService4">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateMemo">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/CreateMemo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemo">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/GetMemo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemoSheet">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/GetMemoSheet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMemo">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/UpdateMemo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMemo">
      <soap:operation soapAction="http://www.traen.com/2007/09/06/GetAllMemo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ContactService41" type="tns:ContactService4">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateContact">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/CreateContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/UpdateContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContact">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/GetContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchContacts">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/SearchContacts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePerson">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/CreatePerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrganization">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/CreateOrganization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProperty">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/CreateProperty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/CreateGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/UpdatePerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganization">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/UpdateOrganization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProperty">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/UpdateProperty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGroup">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/UpdateGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/GetPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrganization">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/GetOrganization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProperty">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/GetProperty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroup">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/GetGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MainDocumentService41" type="tns:MainDocumentService4">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateMainDocument">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/CreateMainDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMainDocument">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/GetMainDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDocuments">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/GetAllDocuments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMainDocument">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/UpdateMainDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SupplementService41" type="tns:SupplementService4">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateSupplement">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/CreateSupplement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplement">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/UpdateSupplement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSupplements">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/GetAllSupplements" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplement">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/GetSupplement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CaseService41" type="tns:CaseService4">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCase">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/CreateCase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCase">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/GetCase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCase">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/UpdateCase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCases">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/SearchCases" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetErrorType">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/GetErrorType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DocumentService41" type="tns:DocumentService4">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPhysicalDocument">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/GetPhysicalDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileName">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/GetFileName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockDocument">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/LockDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockDocument">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/UnlockDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLockStatus">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/GetLockStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MemoService41" type="tns:MemoService4">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateMemo">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/CreateMemo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemo">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/GetMemo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemoSheet">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/GetMemoSheet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMemo">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/UpdateMemo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMemo">
      <soap12:operation soapAction="http://www.traen.com/2007/09/06/GetAllMemo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>